<h1><%= @critter.name %></h1>

<h3> Update your critter's name:</h3>
  <form action="/<%= @critter.id%>" method="post">
    <input name="_method" type="hidden" value="patch">
    <label for= "critters">Rename:</label>
    <input id ="critters" name ="critter[name]" type="text" value="<%=@critter.name%>">
    <button>Change Critter</button>
  </form>

<h3> Remove from list </h3>
<p><a href="/<%=@critter.id %>"
  data-confirm="Are you sure"
  data-method="Delete"
  rel="nofollow">Destroy Critter</a></p>
